@model IEnumerable<staj_day3_meh.Models.Resim>

@{
    ViewBag.Title = "Dosyalar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dosyalar</h2>

<div class="dosya-ekle col-md-12">
    <div class="nav-tabs-custom">

        <div class="tab-content">
            <div class="active tab-pane" id="activity">

                <table>
                    <tr>
                        <td colspan="2">
                            @TempData["shortMessage"]
                        </td>
                    </tr>
                    <tr>

                        <td>
                            <input class="form-control" type="file" id="SelectImage" name="Link" multiple required value="" />
                            

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <input class="form-control btn-success show-alert" type="button" onclick="UploadImage() " name="btnKayit01" value="Ekle" />
                        </td>

                    </tr>

                </table>
            </div><!-- /.tab-pane -->
        </div><!-- /.tab-content -->
    </div>
</div>
<!--listeleyip silme kısmı-->

<div class="container">

    <h2>Dosyalar</h2>

    <div class="row">
        @foreach (var item in Model)
        {
        <div class="col-lg-3  col-sm-6 sil-dosya">
            @{
                string uzanti = Path.GetExtension(item.Link);
                if (uzanti == ".docx")
                {
                    <img src="~/Content/Word.jpg" class="img-rounded dosyalar-image" title="@item.Link" />
                }
                else if (uzanti == ".xlsx")
                {
                    <img src="~/Content/excel.jpg" class="img-rounded dosyalar-image" title="@item.Link" />
                }
                else
                {
                    <img src="@item.Link" class="img-rounded dosyalar-image" title="@item.Link" />
                }
            }
            <br />
            <div>
                <p id="@item.Link">@item.Link</p>
                <button class="btn btn-xs btn-warning" onclick="copyToClipboard('@item.Link')">Yolu Kopyala</button>

            </div>
            
            <br />
            <span class="post-categories" margin="auto">
                <button class="btn btn-danger" type="button" onclick="return DosyaSil(@item.Id)" @*href="/Modul/DosyaSil/@item.Id" rel="tag"*@>Sil</button>
            </span>  <!--.post-categories -->
        </div>
        }
    </div>
</div>

<!--aşağısı ajax denemenin-->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    

    <script>
        function copyToClipboard(elementId) {

            // Create a "hidden" input
            var aux = document.createElement("input");

            // Assign it the value of the specified element
            aux.setAttribute("value", document.getElementById(elementId).innerHTML);

            // Append it to the body
            document.body.appendChild(aux);

            // Highlight its content
            aux.select();

            // Copy the highlighted text
            document.execCommand("copy");

            // Remove it from the body
            document.body.removeChild(aux);

        }

        function DosyaSil(Id) {

            bootbox.confirm("Silmek istediğinize emin misiniz?", function (result) {
                if (result) {
                    var dataObject = {
                        Id: $("#Id").val()
                    };
                    var form_data = new FormData();
                    form_data.append('Id', dataObject);
                    window.location = '/Modul/DosyaSil/' + Id;
                }
            });
        }
        //upload deneme
        var UploadImage = function () {
            var file = $("#SelectImage").get(0).files;
            var data = new FormData;
            data.append("Link", file[0]);
            $.ajax({
                type: "POST",
                url: "/Modul/Dosyalarr",
                data: data,
                contentType: false,
                processData: false,
                success: function (sonuc) {

                    if (sonuc) {
                        bootbox.alert({
                            message: "Yüklendi",
                            callback: function () {
                                window.location.reload(true);

                            }
                        })
                        //$("#UploadedImage").append('<img src="/Modul/DisplayingImage?imgID=' + imgID + '"class= dosyalar-image "/>');
                    } else {
                        bootbox.alert({
                            message: "Hata..gerizekalımısın"
                         
                        })
                    }
                 
                }
            })
        }
    </script>
}
