
@model IEnumerable<staj_day3_meh.Models.Menu>

@{
    /**/

    /**/

    Layout = null;
}
@if (ViewBag.menuTipp == "Menu 1")
{
    @*Menu 1*@
    <div id="main">
        <div class="mcontainer">
            <nav class="animenu" role="navigation" aria-label="Menu">
                <button class="animenu__toggle">
                    <span class="animenu__toggle__bar"></span>
                    <span class="animenu__toggle__bar"></span>
                    <span class="animenu__toggle__bar"></span>
                </button>

                <ul class="animenu__nav">
                    @foreach (var item in Model.ToList().Where(m => m.ustid == 0))
                    {
                        if (Model.ToList().Where(m => m.ustid == item.id).Count() >= 1)
                        {
                            <li>
                                <a href="#" class="animenu__nav__hasDropdown" aria-haspopup="true">@item.Ad</a>
                                <ul class="animenu__nav__dropdown" aria-label="submenu">
                                    @foreach (var item2 in Model.ToList().Where(m => m.ustid == item.id))
                                    {
                                        <li>@Html.ActionLink(item2.Ad, "Index", "Home", new { id = item2.id }, null)</li>
                                        @*<li><a href="#" role="menuitem">@item2.Ad</a></li>*@
                                    }

                                </ul>
                            </li>
                        }
                        else
                        {
                            <li> @Html.ActionLink(item.Ad, "Index", "Home", new { id = item.id }, null)</li>
                        }
                    }
                </ul>
            </nav>

        </div>
    </div>
}
else if (ViewBag.menuTipp == "Menu 2")
{
    @*Menu 2*@
    <div id="main">
        <div class="mcontainer">
            <nav>
                <div class="nav-fostrap">
                    <ul>
                        @foreach (var item in Model.ToList().Where(m => m.ustid == 0))
                        {
                            if (Model.ToList().Where(m => m.ustid == item.id).Count() >= 1)
                            {

                                <li>
                                    <a href="javascript:void(0)">@item.Ad<span class="arrow-down"></span></a>
                                    <ul class="dropdown">
                                        @foreach (var item2 in Model.ToList().Where(m => m.ustid == item.id))
                                        {
                                            <li>@Html.ActionLink(item2.Ad, "Index", "Home", new { id = item2.id }, null)</li>
                                        }
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li> @Html.ActionLink(item.Ad, "Index", "Home", new { id = item.id }, null)</li>
                            }
                        }
                    </ul>
                </div>
                <div class="nav-bg-fostrap">
                    <div class="navbar-fostrap"> <span></span> <span></span> <span></span> </div>
                    <a href="" class="title-mobile">Fostrap</a>
                </div>
            </nav>
        </div>
    </div>
}
else if (ViewBag.menuTipp == "Menu 3")
{
    @*Menu 3*@
    <div id="main">
        <div class="mcontainer">
            <nav id='cssmenu'>
                <div class="logo"><a href="index.html">Logo </a></div>
                <div id="head-mobile"></div>
                <div class="button"></div>
                <ul class="menu-ul">
                    @foreach (var item in Model.ToList().Where(m => m.ustid == 0))
                    {
                        if (Model.ToList().Where(m => m.ustid == item.id).Count() >= 1)
                        {

                            <li>
                                <a href='#'>@item.Ad</a>
                                <ul>
                                    @foreach (var item2 in Model.ToList().Where(m => m.ustid == item.id))
                                    {
                                        <li>@Html.ActionLink(item2.Ad, "Index", "Home", new { id = item2.id }, null)</li>
                                    }

                                </ul>
                            </li>
                        }
                        else
                        {
                            <li> @Html.ActionLink(item.Ad, "Index", "Home", new { id = item.id }, null)</li>
                        }

                    }
                </ul>
            </nav>
        </div>
    </div>
}
else if (ViewBag.menuTipp == "Menu 4")
{
    @*Menu 4*@
    <div id="main">
        <div class="mcontainer">
            <nav class="pembe-menu menu">
                <ol>
                    @foreach (var item in Model.ToList().Where(m => m.ustid == 0))
                    {
                        if (Model.ToList().Where(m => m.ustid == item.id).Count() >= 1)
                        {
                            <li class="menu-item">
                                <a href="#0">@item.Ad</a>
                                <ol class="sub-menu">
                                    @foreach (var item2 in Model.ToList().Where(m => m.ustid == item.id))
                                    {
                                        <li class="menu-item">@Html.ActionLink(item2.Ad, "Index", "Home", new { id = item2.id }, null)</li>
                                    }
                                </ol>
                            </li>
                        }
                        else
                        {
                            <li class="menu-item"> @Html.ActionLink(item.Ad, "Index", "Home", new { id = item.id }, null)</li>
                        }
                    }
                </ol>
            </nav>
        </div>
    </div>
}
else if (ViewBag.menuTipp == "Menu 5")
{
    @*Menu 5*@
    <div id="main">
        <div class="mcontainer">
            <div class="tutorial">
                <ul>
                    @foreach (var item in Model.ToList().Where(m => m.ustid == 0))
                    {
                        if (Model.ToList().Where(m => m.ustid == item.id).Count() >= 1)
                        {
                            <li>
                                @item.Ad <i class="fa fa-angle-down"></i>
                                <ul>
                                    @foreach (var item2 in Model.ToList().Where(m => m.ustid == item.id))
                                    {
                                        <li class="menu-5-p">@Html.ActionLink(item2.Ad, "Index", "Home", new { id = item2.id }, null)</li>
                                    }
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="menu-5-p"> @Html.ActionLink(item.Ad, "Index", "Home", new { id = item.id }, null)</li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
}

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
