@model staj_day3_meh.Models.Menuler

@{
    /**/

    ViewBag.Title = "MenuBar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Menu Tipi</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="hehe form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <h3>Menü Tipi:</h3>
        <div class="form-group">
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Ad, new SelectList(ViewBag.menuTip, "Ad", "Ad"), "")
                @Html.ValidationMessageFor(model => model.Ad, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
@*Menü Tip 1*@
@{
    Html.RenderAction("Menu", "Modul"); 
}

@section Scripts {
    <script>
        (function ($) {
            $(document).ready(function () {
                $("#cssmenu").menumaker({
                    format: "multitoggle"
                });
            });
        })(jQuery);
        
        $(document).ready(function () {
            $('.navbar-fostrap').click(function () {
                $('.nav-fostrap').toggleClass('visible');
                $('body').toggleClass('cover-bg');
            });
        });

        (function () {
            var animenuToggle = document.querySelector('.animenu__toggle'),
                animenuNav = document.querySelector('.animenu__nav'),
                hasClass = function (elem, className) {
                    return new RegExp(' ' + className + ' ').test(' ' + elem.className + ' ');
                },
                toggleClass = function (elem, className) {
                    var newClass = ' ' + elem.className.replace(/[\t\r\n]/g, ' ') + ' ';
                    if (hasClass(elem, className)) {
                        while (newClass.indexOf(' ' + className + ' ') >= 0) {
                            newClass = newClass.replace(' ' + className + ' ', ' ');
                        }
                        elem.className = newClass.replace(/^\s+|\s+$/g, '');
                    } else {
                        elem.className += ' ' + className;
                    }
                },
                animenuToggleNav = function () {
                    toggleClass(animenuToggle, "animenu__toggle--active");
                    toggleClass(animenuNav, "animenu__nav--open");
                }

            if (!animenuToggle.addEventListener) {
                animenuToggle.attachEvent("onclick", animenuToggleNav);
            }
            else {
                animenuToggle.addEventListener('click', animenuToggleNav);
            }
        })()
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}
