@{
    ViewBag.Title = "Hakkımızda";
}
@model staj_day3_meh.Models.Menu


<div class="jumbotron">
    <h1>@Model.Ad</h1>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <p>@ViewBag.mesaj</p> 
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

       

        <div class="form-group">
           @*@Html.LabelFor(model => model.icerik, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.icerik, new { @id = "editor1" })
                            <script type="text/javascript">
                                var editor = CKEDITOR.instances['editor1'];
                                if (editor) { editor.destroy(true); }
                                CKEDITOR.replace('editor1', {
                                    enterMode: CKEDITOR.ENTER_BR,
                                });
                                CKFinder.setupCKEditor(null, '@Url.Content("~/ckeditor/ckfinder/")');
                            </script>
                @Html.ValidationMessageFor(model => model.icerik, "", new { @class = "text-danger" })
            </div>
            
        </div>


        <div class="form-group">
            <div class=" col-md-10">
                <input type="submit" value="Kaydet" class="btn btn-lg btn-success" />
            </div>
        </div>
    </div>
    
}

@*<script>
    // Ckeditor ü  ön tanımlı  ayarları  kullanarak <textarea id="editor1"> nesnesi üzerinde aktif  ediyoruz
    CKEDITOR.replace('editor1');
</script>*@